
<div class="card" *ngFor="let producao of producoes">
    <div class="titleDiv">
        <h3 style="margin: 0;">Título</h3>
    </div>
    <div class="bodyDiv">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar felis a leo eleifend dapibus. In in nibh non
        arcu ornare tempus in a quam. Sed nisi magna, pellentesque id porta ut, malesuada eget ante. Cras interdum velit risus,
        a maximus neque euismod vel. Phasellus et metus quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
        nec pellentesque urna. Maecenas elementum sed magna sit amet fermentum.</p>
    </div>
    <div class="footerDiv">
        <div class="autorDiv">
            <div class="profilePicture"></div>
            <p>Mariazinha da silva</p>
        </div>
            <button>Favoritar</button>
    </div>
</div>
