<nav *ngIf="router.url != '/perfil' or router.url != '/perfilPostagens';else outra_nav">
    <div id="upperNavbar">
            <!-- <a href="#" class="brand-logo">Logo Manamano</a> -->
            <img src="./assets/logo.svg" style="height: 5vh; padding:0;">
        <div id="perfilSearchArea">
            <i class="material-icons">search</i>
            <div id="perfilArea">
                <div routerLink="/perfil" class="profilePicture" style="height: 5vh;"></div> 
                <i class="material-icons">more_vert</i>
            </div>
        </div>
    </div>
    <div id="lowerNavbar">
        <div class="newPostBtn" routerLink="/postar" routerLinkActive="underline"><i class="material-icons">add</i></div>
        <div class="aba" routerLink="/avisos" routerLinkActive="underline"><p>Avisos</p></div>
        <div class="aba" routerLink="/categorias" routerLinkActive="underline"><p>Categorias</p></div>
        <div class="aba" routerLink="/favoritos" routerLinkActive="underline"><p>Favoritos</p></div>
    </div>
</nav>
<div *ngIf="router.url != '/perfil' or router.url != '/perfilPostagens'" style="height: 18vh;"></div>
<ng-template #outra_nav>
    <nav id="navSecundaria">
        <i routerLink=".." class="material-icons">arrow_back</i>
        <p>texto da página</p>
    </nav>
    <div style="height: 10vh;"></div>
</ng-template>