/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';

:root {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}
.profilePicture {
    border-radius: 100%;
    background-image: url('./assets/profile.png');
    height: 5vh;
    width: 5vh;
    background-position: center;
    background-size: cover;
}

button {
    border-radius: 3vh;
    background-color: #EF4035;
    border-style: none;
    color: white;
    font-size: 0.8em;
    height: 3.5vh;
}

