<section>
    <form action="">
        <div>
            <label for="title">Titulo:</label>
            <br>
            <input type="text" name="tile">
        </div>
        <div>
            <label for="corpo">Corpo:</label> 
            <br>
            <textarea type="text" name="corpo"></textarea>
        </div>
        <div>
            <div style="margin-bottom: 1.5vh;">
                <label for="categoria">Categoria:</label>
                <br>
                <input type="text" name="categoria">
            </div>
            <div>
                <label for="categoriaDetalhada">Categorias detalhadas:</label>
                <br>
                <input type="text" name="categoriaDetalhada">
            </div>
        </div>
        <div id="divSubmit">
            <button type="submit">Publicar!</button>
        </div>
    </form>

</section>